//IPAD
@media (max-width: 1100px) {
  .page-wrapper {
    grid-template-columns: minmax(220px, 280px) minmax(0, 1fr) !important;
    gap: 2px !important;
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--lines);
    height: auto;
    width: 100%;
    margin: 0 auto;
    align-items: start;
    overflow: visible;
    .sidebar-right {
      display: none;
    }
  }
  main {
    padding: 1rem !important;
  }

  .nav-links {
    gap: 6px;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: clamp(3px, 0.6vw, 8px);
  }

  .nav-links a {
    flex: 1 1 0;
    min-width: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
    text-align: center;

    padding: 0.14rem 0.22rem;
    font-size: 0.76rem;
    line-height: 1.05;
    letter-spacing: -0.02em;
  }

  .nav-links li {
    flex: 1 1 0;
    min-width: 0;
  }
  .sidebar-left {
    position: sticky !important;
    top: 140px;
    min-height: 0;
    overflow: auto !important;
    overflow-x: auto;
    padding: var(--space-2);
    max-height: calc(100vh - 140px);
    max-width: 100%;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
  }
}
//PHONE
@media (max-width: 800px) {
  #berrylab {
    display: flex !important;
    flex-direction: column;
  }

  main {
    padding: 0 !important;
  }
  .page-wrapper {
    display: block !important;
    width: 100%;
    margin: 0;
    padding-inline: 1px;
    gap: 0;
    justify-items: stretch;
  }

  .sidebar-left,
  .sidebar-right {
    display: none;
  }
  .topbar p {
    font-size: clamp(0.56rem, 0.55vw + 0.35rem, 1.05rem);
  }
}

@media (max-width: 1400px) and (min-width: 1101px) {
  .page-wrapper {
    max-width: 100% !important;
    width: 100% !important;
    padding-inline: var(--space-2) !important;

    grid-template-columns:
      minmax(200px, 240px)
      minmax(0, 1fr)
      minmax(110px, 150px) !important;

    gap: var(--space-3) !important;
  }
}

@mixin box {
  border: 2px solid var(--lines);
  border-bottom: 7px solid var(--lines);
  border-left: 6px solid var(--lines);
  border-radius: var(--space-1);
  font-family: $font-genos;
  font-weight: 700;
}
@mixin button {
  border: 2px solid var(--lines);
  border-radius: var(--space-1);
  background-color: var(--muted);
  cursor: pointer;
  font-family: $font-genos;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: var(--primary);
    border-color: var(--lines);
  }

  &:active {
    background-color: var(--color);
    border-color: var(--lines);
  }
}
@mixin clamp {
  gap: clamp(6px, 0.7vw, var(--space-5));
  font-size: clamp(0.76rem, 0.55vw + 0.35rem, 1.05rem);
}
