$font-genos: 'Genos', system-ui, sans-serif;
$font-body: 'Roboto Flex', system-ui, sans-serif;
$font-display: 'Herr Von Muellerhoff', italic, sans-serif;

:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
}

html[data-theme='dark'] {
  --bg: #AECBB9;
  --text: #3c5757;
  --muted: #FDB4AE;
  --primary: #fad4b4;
  --lines: #8D5F60;
  --color: #fd7c73;
  --white: #ffeedb;
  --link-pink: #e67686;
  --link-blue: #fd9086;
}


html {
--bg: #f1e0ff;
--text: #120a1a;
--muted: #D2C2E6;
--primary: #FBD0FB;
--lines: #6d58b4;
--color: #d98df0;
--white: #f0f3ff;
  --link-pink: #c084fc;
  --link-blue: #8f85ff;
}