header {
  background-color: var(--bg);
  height: 70px;
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  border-bottom: 1px solid var(--lines);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-group {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.subheader {
  background-color: var(--lines);
  border-bottom: 1px solid var(--lines);
  padding: 3px;
  font-weight: 600;
  color: var(--white);
  font-size: 1.1rem;
  text-align: center;
  @include clamp;

  a {
    color: var(--primary);
    &:hover {
      color: var(--color);
    }
  }
}

.topbar {
  background: var(--muted);
  border-bottom: 1px solid var(--lines);
  font-weight: 600;
  font-size: 0.9rem;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-3);
  text-align: center;
  transform: translateY(-100%);
  @include clamp;
}
.topbar button {
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  line-height: 20px;
  border-radius: 100%;
  font-weight: 900;
  border: 1px solid var(--lines);
  background-color: var(--color);
  cursor: pointer;
}
.topbar.show {
  transform: translateY(0);
  opacity: 1;
}
.topbar.hide {
  transform: translateY(-100%);
  opacity: 0;
  height: 0;
  border: none;
  pointer-events: none;
}
