.button,
.nav,
.tag,
.price {
  font-family: $font-genos;
}
.button {
  font-family: $font-genos;
  font-weight: 500;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.tag,
.label {
  font-family: $font-genos;
  font-weight: 500;
  letter-spacing: 0.15em;
}
