.fake-loader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  display: grid;
  place-items: center;
  background: var(--bg);
}

.fake-loader[hidden] {
  display: none;
}

.fake-loader__anim {
  position: relative;
  font-family: $font-genos;
  font-weight: 900;
  font-size: 3rem;
  color: black;
}

.fake-loader__anim::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -1.2em;
  width: 0.9em;
  height: 0.9em;
  transform: translateY(-50%) rotate(0deg);
  background: var(--white);
  mask: url('../images/berry.png') center / contain no-repeat;
  mix-blend-mode: difference;
  animation: berryRollSpin 1.2s infinite alternate linear;
  pointer-events: none;
}

@keyframes berryRollSpin {
  to {
    left: calc(100% + 0.2em);
    transform: translateY(-50%) rotate(360deg);
  }
}
