@keyframes berriesCycle {
  0% {
    background: var(--link-blue);
  }
  33% {
    background: var(--color);
  }
  66% {
    background: var(--link-pink);
  }
  100% {
    background: var(--link-blue);
  }
}
